.bodyLeftStyle {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyRigthStyle {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sides {
    width: 15%;
}